--extra-index-url https://download.pytorch.org/whl/cu128

torch==2.11.0+cu128
torchvision==0.26.0+cu128
ipykernel==7.3.0
jupyterlab==4.6.3
notebook==7.6.2
matplotlib==3.11.2
numpy==2.5.2
tqdm==4.70.1
